<!doctype html>
<html lang="en">
  <% content_for :assets do %>
    <%= stylesheet_link_tag 'blog' %>
  <% end %>
  <%= partial 'partials/head' %>
  <body>
    <article class="article">
      <header class="section">
        <h1><%= current_page.data.title %></h1>
      </header>
      <div class="section">
        <%= yield %>
        <p class="article__byline">Published by <%= current_article.data.author %> on <%= current_article.date.strftime('%A, %B %-e, %Y') %></p>
      </div>
      <hr>
      <div class="section section--blog-meta">
        <h2 id="support">Did you enjoy this post?</h2>
        <p>If so, please consider supporting me by <a rel="sponsored nofollow noopener" href="https://www.amazon.com/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=gestevescom-20&linkId=6324c674e5e2fee6fbcc656bfb394416&language=en_US">shopping at Amazon using this link</a>. I'll get a very small commission on anything you buy for yourself during your visit, which helps me cover the cost of hosting the blog.
      </div>
    </article>
  </body>
</html>
