<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/header' %>
    <article class="article">
      <header class="section">
        <h2><%= current_page.data.title %></h2>
        <p class="article__byline">Published by <%= current_article.data.author %> on <%= current_article.date.strftime('%A, %B %-e, %Y') %></p>
      </header>
      <div class="section">
        <%= yield %>
      </div>
      <%= partial 'partials/footer' %>
    </article>
  </body>
</html>
