<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/header' %>
    <article class="article">
      <header class="section">
        <h2><%= remove_widows current_page.data.title %></h2>
        <p class="article__byline">Published on <%= current_article.date.strftime('%A, %B %-e, %Y') %></p>
      </header>
      <section class="section">
        <%= yield %>
        <p class="article__back"><%= link_to "&larr; More articles", "/archives.html" %></p>
      </section>
    </article>
    <%= partial 'partials/footer' %>
  </body>
</html>
