<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/header' %>
    <article class="article">
      <header class="article__header">
        <h2><%= remove_widows current_page.data.title %></h2>
        <% if current_article.present? %>
          <p class="article__byline"><%= current_article.date.strftime('%A, %B %-e, %Y') %></p>
        <% end %>
      </header>
      <section class="article__body">
        <%= yield %>
      </section>
    </article>
    <%= partial 'partials/footer' %>
  </body>
</html>
