<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/skip' %>
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
  </body>
</html>
