<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/skip' %>
    <%= partial 'partials/header' %>
    <article class="article" id="main-content" aria-labelledby="hed">
      <header class="article__header">        
        <% if defined?(content) && content_type == 'article' %>
          <p class="article__meta">
            <%= link_to DateTime.parse(content.published_at).strftime('%A, %B %-e, %Y'), content.path %>
            <% if content.contentfulMetadata.tags.present? %>
              • 
              <%= content.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to tag.name, "/blog/tags/#{tag.id}/index.html" }.join(', ') %>
            <% end %>
          </p>
        <% end %>
        <h2 id="hed">
          <% if defined?(content) %>
            <%= remove_widows content.title %>
          <% else %>
            <%= remove_widows current_page.data.title %>
          <% end %>
        </h2>
      </header>
      <main class="article__body">
        <%= yield %>
      </main>
    </article>
    <%= partial 'partials/footer' %>
  </body>
</html>
