<article class="entry entry--compact <%= "entry--in-list" if defined?(in_list) && in_list %>" id="main-content" aria-labelledby="hed-<%= entry.sys.id.parameterize %>">
  <header class="entry__header">
      <p class="entry__meta">
        <% if entry.draft %>
          <span class="entry__draft">Draft</span>
        <% end %>
        <span><%= link_to DateTime.parse(entry.published_at).strftime('%A, %B %-e, %Y'), entry.path %></span>
        <% if entry.contentfulMetadata.tags.present? && entry.entry_type != "Link" %>
          <span><%= entry.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |t| link_to t.name, "/blog/tags/#{t.id}/index.html" }.join(', ') %></span>
        <% end %>
      </p>
    <h2 id="hed-<%= entry.sys.id.parameterize %>">
      <% if is_affiliate_link?(entry.linkUrl) %>
        <%= link_to smartypants(entry.title), entry.linkUrl, rel: "sponsored nofollow" %>
      <% elsif entry.entry_type == "Link" && entry.noFollow %>
        <%= link_to smartypants(entry.title), entry.linkUrl, rel: "nofollow" %>
      <% else %>
        <%= link_to smartypants(entry.title), entry.linkUrl.presence || entry.path %>
      <% end %>
    </h2>
  </header>
  <main class="entry__body">
    <%= render_body(entry.summary.presence || entry.body) %>
  </main>
  <% unless defined?(in_list) && in_list %>
    <%= partial 'partials/disclosure', locals: { entry: entry } %>
  <% end %>
</article>
