<article class="entry entry--compact <%= "entry--in-list" if defined?(in_list) && in_list %>" id="main-content" aria-labelledby="hed">
  <header class="entry__header">
      <p class="entry__meta">
        <% if entry.draft %>
          <span class="entry__draft">Draft</span>
        <% end %>
        <span><%= link_to DateTime.parse(entry.published_at).strftime('%A, %B %-e, %Y'), entry.path %></span>
        <% if entry.contentfulMetadata.tags.present? %>
          <span><%= entry.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |t| link_to t.name, entry.entry_type == "Link" ? "/links/tags/#{t.id}/index.html" : "/blog/tags/#{t.id}/index.html" }.join(', ') %></span>
        <% end %>
      </p>
    <h2 id="hed">
      <% if entry.entry_type == "Link" %>
        <% if entry.noFollow %>
          <%= link_to smartypants(remove_widows(entry.title)), entry.linkUrl, rel: "nofollow" %>
        <% else %>
          <%= link_to smartypants(remove_widows(entry.title)), entry.linkUrl %>
        <% end %>
      <% else %>
        <%= link_to smartypants(remove_widows(entry.title)), entry.path %>
      <% end %>
    </h2>
  </header>
  <main class="entry__body">
    <% if entry.entry_type == "Link" %>
      <%= render_body(entry.body) %>
    <% else %>
      <%= render_body(entry.summary) %>
    <% end %>
  </main>
</article>
