<footer class="footer">
  <section class="footer__section">
    <h2 class="footer__section-hed">© <%= Time.now.strftime('%Y') %></h2>
    <%= data.site.name %>
  </section>
  <section class="footer__section">
    <h2 class="footer__section-hed">Email</h2>
    <%= mail_to data.site.email %>
  </section>
  <section class="footer__section">
    <h2 class="footer__section-hed">Links</h2>
    <ul class="footer__links">
      <li><%= link_to "Colophon", "/colophon/index.html" %></li>
      <li><%= link_to "Feed", "/feed.xml" %></li>
    </ul>
  </section>
  <section class="footer__section">
    <h2 class="footer__section-hed">Elsewhere</h2>
    <ul class="footer__links">
      <% data.socials.each do |social| %>
        <li><%= link_to social.title, social.url, rel: "me noopener", target: "_blank" %></li>
      <% end %>
    </ul>
  </section>
</footer>
