<head>
  <meta charset="utf-8">
  <% if defined?(content) %>
    <title><%= [content.title, data.home.title].uniq.join(' · ') %></title>
  <% elsif current_page.data.title.present? %>
    <title><%= [current_page.data.title, data.home.title].uniq.join(' · ') %></title>
  <% else %>
    <title><%= data.home.title %></title>
  <% end %>
  <% if defined?(content) %>
    <meta name="description" content="<%= content.summary %>">
  <% elsif current_page.data.description.present? %>
    <meta name="description" content="<%= current_page.data.description %>">
  <% else %>
    <meta name="description" content="<%= data.home.summary %>">
  <% end %>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="theme-color" content="#BF0222">
  <% if config[:context] != 'production' || (defined?(content) && !content.indexInSearchEngines && !content.draft) %>
    <meta name="robots" content="noindex">
  <% end %>
  <link rel="canonical" href="<%= full_url(current_page.url) %>">
  <link rel="alternate" type="application/atom+xml" href="<%= full_url("/feed.xml") %>" />
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag 'all', defer: true %>
  <%= yield_content :assets %>
</head>
