<head>
  <meta charset="utf-8">
  <title><%= [current_page.data.title, data.site.name].uniq.join(' · ') %></title>
  <meta name="description" content="<%= current_page.data.description %>">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="theme-color" content="#bf0222">
  <% if current_page.data.noindex.presence || config[:context] != 'production' %>
    <meta name="robots" content="noindex">
  <% end %>
  <link rel="canonical" href="<%= "#{full_url(current_page.url)}" %>">
  <link rel="alternate" type="application/atom+xml" href="<%= full_url("/feed.xml") %>" />
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag 'all', defer: true %>
  <%= yield_content :assets %>
</head>
