<head>
  <meta charset="utf-8">
  <% if defined?(content) %>
    <title><%= [content.title, data.author.name].uniq.join(' · ') %></title>
    <meta name="description" content="<%= content.summary %>">
  <% else %>
    <title><%= [current_page.data.title, data.author.name].uniq.join(' · ') %></title>
    <meta name="description" content="<%= current_page.data.description %>">
  <% end %>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="theme-color" content="#BF0222">
  <% if config[:context] != 'production' %>
    <meta name="robots" content="noindex">
  <% end %>
  <link rel="canonical" href="<%= full_url(current_page.url) %>">
  <link rel="alternate" type="application/atom+xml" href="<%= full_url("/feed.xml") %>" />
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag 'all', defer: true %>
  <%= yield_content :assets %>
</head>
