<header class="header">
  <h1><%= link_to "Guillermo Esteves", "/" %></h1>
  <p class="header__meta">Jackson Hole, Wyoming</p>
  <ul class="header__meta header__links">
    <li><%= link_to "Email", "mailto:contact@gesteves.com" %></li>
    <li><%= link_to "Github", "https://github.com/gesteves" %></li>
    <li><%= link_to "Instagram", "http://instagram.com/gesteves" %></li>
    <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/gesteves" %></li>
    <li><%= link_to "Twitter", "https://www.twitter.com/gesteves" %></li>
  </ul>
</header>
