<head>
  <meta charset="utf-8">
  <% if defined?(content) %>
    <title><%= page_title(content: content) %></title>
  <% elsif current_page.data.title.present? %>
    <title><%= page_title(title: current_page.data.title) %></title>
  <% else %>
    <title><%= page_title %></title>
  <% end %>
  <% if defined?(content) %>
    <meta name="description" content="<%= content_summary(content) %>">
  <% elsif current_page.data.description.present? %>
    <meta name="description" content="<%= current_page.data.description %>">
  <% end %>
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta name="theme-color" content="#BF0222">
  <% if config[:context] != 'production' || (defined?(content) && hide_from_search_engines?(content)) %>
    <meta name="robots" content="noindex">
  <% end %>
  <% if defined?(content) && content.canonicalUrl.present? %>
    <link rel="canonical" href="<%= content.canonicalUrl %>">
  <% else %>
    <link rel="canonical" href="<%= full_url(current_page.url) %>">
  <% end %>
  <link rel="alternate" type="application/atom+xml" href="<%= full_url("/feed.xml") %>" />
  <%= stylesheet_link_tag 'site' %>
  <%= javascript_include_tag 'all', defer: true %>
  <%= javascript_include_tag 'prism', defer: true %>
  <%= yield_content :assets %>
</head>
