<section class="section">
  <h2>Reading</h2>
  <ol>
    <% data.books.each do |book| %>
      <li class="card">
        <%= card_thumbnail(destination: book.amazon_url,
              image_path: "books/#{book.id}.jpg",
              alt: "Cover of the book “#{book.title}”, by #{book.authors.join(', ')}.") %>
        <div class="card__text">
          <h3><a href="<%= book.amazon_url %>"><%= book.title %></a></h3>
          <p class="section__meta"><%= join_authors book.authors %> &middot; <%= book.published %></p>
        </div>
      </li>
    <% end %>
  </ol>
</section>
