<section class="section" aria-labelledby="repos">
  <h2 id="repos">Featured Repos</h2>
  <ol>
    <% data.repos.each do |r| %>
      <% repo = r.repository %>
      <li>
        <h3><%= link_to remove_widows(repo.nameWithOwner), repo.url %></h3>
        <p>
          <%= remove_widows repo.description %>
        </p>
        <ul class="section__meta">
          <li><%= repo.languages.nodes.sort { |n,m| n.name <=> m.name }.map(&:name).join(', ') %></li>
          <% if repo.stargazerCount > 0 %><li><%= pluralize(repo.stargazerCount, 'star') %></li><% end %>
          <% if repo.forkCount > 0 %><li><%= pluralize(repo.forkCount, 'fork') %></li><% end %>
        </ul>
      </li>
    <% end %>
  </ol>
</section>
