<li class="card">
  <%= card_thumbnail(image_path: track.album.image.last.dig('#text'), alt: "Cover of the album “#{track.album.name}”, by #{track.artist.name}", size: 72) %>
  <div class="card__text">
    <span class="section__meta"><%= pluralize(track.play_count, 'play') %> <%= "in the past week" if index == 0 %></span>
    <h3><a href="<%= track.url %>" rel="nofollow"><%= track.name %></a></h3>
    <ul class="section__meta section__meta--no-margin">
      <li><%= track.artist.name %></li>
      <li><%= track.album.name %></li>
    </ul>
  </div>
</li>
