---
title: Need a gift for a photographer? Give one of these books
description: Here's a list of photography books I own & recommend.
date: 2020/10/01
author: Guillermo Esteves
hide_affiliate_footer: true
meta_image_url: https://memefier.imgix.net/https%3A%2F%2Fi.imgur.com%2FEwkviFb.jpg?w=1200&fm=jpg&s=bab007ede7ebc5e501c90c147616954d
meta_image_alt: "A close-up of the spine few books, including some Ansel Adams books, on a bookshelf."
meta_image_dimensions: 1200x800
sitemap_priority: 1.0
sitemap_lastmod: 2020/10/16
---

<p>A question I get with some frequency is “what is a good gift I can get for my photographer friend/relative?” Gifts for photographers are tough; equipment is too specialized and expensive to be given as gifts, accessories requires you to know what equipment they already have, and photography-themed doodads like <a target="_blank" rel="sponsored nofollow noopener" href="https://www.amazon.com/Improved-AM-MUG%C2%AE-226228-668-Button/dp/B00PF6GWBA/ref=as_li_ss_tl?ie=UTF8&linkCode=ll1&tag=gestevescom-20&linkId=4e917842fe17ffde3066ed791c6eff22&language=en_US">lens-shaped coffee mugs</a> are a waste of money that just end up collecting dust. Books, however, are a safer bet. Which photographer doesn’t love to look at photographs for inspiration? I’d never be upset receiving a cool photography book as a gift.</p>

<p>So, without further ado, here’s a list of <%= data.photography_nature_books.size + data.photography_street_books.size + data.photography_music_books.size + data.photography_how_to_books.size + data.photography_other_books.size %> photography books I own and recommend. These are all currently sitting on my bookshelf, I’ve enjoyed each and every one of them and they’ve all inspired <a href="https://www.allencompassingtrip.com">my photography</a> in some way. I’ve sorted them by theme:</p>

<ul>
  <% if data.photography_nature_books.present? %><li><a href="#landscape-wildlife-photography">For the landscape & wildlife photographer</a></li><% end %>
  <% if data.photography_street_books.present? %><li><a href="#street-photography">For the street & documentary photographer</a></li><% end %>
  <% if data.photography_music_books.present? %><li><a href="#music-photography">For the music lover</a></li><% end %>
  <% if data.photography_how_to_books.present? %><li><a href="#photography-how-to-guides">For someone looking to grow their skills</a></li><% end %>
  <% if data.photography_other_books.present? %><li><a href="#other">Other</a></li><% end %>
</ul>

<p>(Please note that each listing includes affiliate links; I’ll earn a small commission from any purchases made through those links).</p>

<% if data.photography_nature_books.present? %>
  <section class="section" aria-labelledby="landscape-wildlife-photography">
    <h2 id="landscape-wildlife-photography">For the landscape & wildlife photographer</h2>
    <ol>
      <% data.photography_nature_books.each do |book| %>
        <%= partial '../partials/book', locals: { book: book } %>
      <% end %>
    </ol>
  </section>
<% end %>

<% if data.photography_street_books.present? %>
  <section class="section" aria-labelledby="street-photography">
    <h2 id="street-photography">For the street & documentary photographer</h2>
    <ol>
      <% data.photography_street_books.each do |book| %>
        <%= partial '../partials/book', locals: { book: book } %>
      <% end %>
    </ol>
  </section>
<% end %>

<% if data.photography_music_books.present?%>
  <section class="section" aria-labelledby="music-photography">
    <h2 id="music-photography">For the music lover</h2>
    <ol>
      <% data.photography_music_books.each do |book| %>
        <%= partial '../partials/book', locals: { book: book } %>
      <% end %>
    </ol>
  </section>
<% end %>

<% if data.photography_how_to_books.present? %>
  <section class="section" aria-labelledby="photography-how-to-guides">
    <h2 id="photography-how-to-guides">For someone looking to grow their skills</h2>
    <ol>
      <% data.photography_how_to_books.each do |book| %>
        <%= partial '../partials/book', locals: { book: book } %>
      <% end %>
    </ol>
  </section>
<% end %>

<% if data.photography_other_books.present? %>
  <section class="section" aria-labelledby="other">
    <h2 id="other">Other</h2>
    <ol>
      <% data.photography_other_books.each do |book| %>
        <%= partial '../partials/book', locals: { book: book } %>
      <% end %>
    </ol>
  </section>
<% end %>

<hr>

<p>I hope you found this list useful; and if you made it this far, I appreciate you taking the time to scroll through.</p>
