---
title: Page not found
description: The page you were looking for could not be found.
layout: false
---

<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/skip' %>
    <%= partial 'partials/header' %>
    <article class="entry entry--large" id="main-content" aria-labelledby="hed">
      <header class="entry__header">
        <h2 id="hed">
          <%= current_page.data.title %>
        </h2>
      </header>
      <main class="entry__body">
        <p><strong>Sorry.</strong> The page you’re looking for does not exist.</p>
      </main>
    </article>
    <%= partial 'partials/footer' %>
  </body>
</html>
