<section class="content" id="main-content" aria-labelledby="hed">
  <header class="content__header">
    <h2 id="hed">
      <% if content.current_page == 1 %>
        <%= content.title %>
      <% else %>
        <%= "#{content.title} – Page #{content.current_page} "%>
      <% end %>
    </h2>
  </header>
  <main>
    <ol class="content__list">
      <% content.items.each do |entry| %>
        <li><%= partial 'partials/entry_compact', locals: { entry: entry, in_list: true } %></li>
      <% end %>
    </ol>

    <% if content.next_page.present? || content.previous_page.present? %>
      <nav class="pagination">
      <% if content.previous_page.present? %>
        <% if content.previous_page == 1 %>
          <%= link_to "Previous", "/blog/index.html", class: "pagination__link pagination__link--previous" %>
        <% else %>
          <%= link_to "Previous", "/blog/page/#{content.previous_page}/index.html", class: "pagination__link pagination__link--previous" %>
        <% end %>
      <% else %>
        <span class="pagination__link pagination__link--previous pagination__link--inactive">Previous</span>
      <% end %>
      <% if content.next_page.present? %>
        <%= link_to "Next", "/blog/page/#{content.next_page}/index.html", class: "pagination__link pagination__link--next"  %>
      <% else %>
        <span class="pagination__link pagination__link--next pagination__link--inactive">Next</span>
      <% end %>
      </nav>
    <% end %>
  </main>
</section>
