<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title type="text"><%= data.home.title %></title>
  <% updated = data.articles.reject(&:draft).map { |e| DateTime.parse(e.updated_at) }.max %>
  <updated><%= updated.rfc3339 %></updated>
  <id><%= atom_tag(full_url("/index.html"), updated) %></id>
  <link rel="alternate" type="text/html" href="<%= full_url("/index.html") %>"/>
  <link rel="self" type="application/atom+xml" href="<%= full_url("/feed.xml") %>"/>
  <rights>© <%= data.articles.reject(&:draft).map { |a| DateTime.parse(a.published_at) }.min.strftime('%Y') %>–<%= Time.now.strftime('%Y') %> <%= data.author.name %></rights>
  <% data.articles.reject(&:draft).slice(0, 25).each do |article| %>
    <entry>
      <% updated = DateTime.parse(article.updated_at) %>
      <title><%= escape_html article.title %></title>
      <link rel="alternate" type="text/html" href="<%= full_url(article.path) %>"/>
      <id><%= atom_tag(full_url(article.path), updated) %></id>
      <updated><%= updated.rfc3339 %></updated>
      <published><%= DateTime.parse(article.published_at).rfc3339 %></published>
      <author>
        <name><%= article.author.name %></name>
      </author>
      <content type="html">
        <%= escape_html article.html %>
      </content>
    </entry>
  <% end %>
</feed>
