---
title: Guillermo Esteves
description: Guillermo Esteves is a web developer & engineering manager based in Jackson Hole, Wyoming.
layout: 'layout'
---

<section class="section" aria-labelledby="intro">
  <h2 class="sr-only" id="intro">Introduction</h2>
  <%= partial 'text/intro' %>
</section>

<% if data.photographs.present? %>
  <%= partial 'partials/photographs' %>
<% end %>
<% if data.repos.present? %>
  <%= partial 'partials/repos' %>
<% end %>
<% if blog.articles.present? %>
  <%= partial 'partials/writing' %>
<% end %>
<% if data.books.present? %>
  <%= partial 'partials/reading' %>
<% end %>
<% if data.movies.present? %>
  <%= partial 'partials/watching' %>
<% end %>
<%= partial 'partials/contact' %>
