---
title: Guillermo Esteves
description: Guillermo Esteves is a web developer & engineering leader based in Jackson Hole, Wyoming.
layout: 'home'
---

<section class="intro">
  <div class="intro__text">
    <p class="intro__howdy">👋</p>
    <h1 class="intro__hed">I’m Guillermo Esteves, a&nbsp;web&nbsp;developer in&nbsp;Jackson&nbsp;Hole,&nbsp;Wyoming.</h1>
    <p class="intro__more"><%= link_to "Learn more", "about.html" %></p>
  </div>


  <picture>
    <% widths = [640, 1136, 750, 1334, 1440, 2208, 1125, 2436, 1242, 2688, 828, 1792, 2048, 1536, 2224, 1668, 2732, 3360, 2560, 2880, 1680, 1280, 1170, 1284, 1366, 3840] %>
    <%= source_tag('3530-landscape.jpg', media: '(orientation: landscape)', sizes: '100vw', type: 'image/avif', imgix_options: { auto: 'compress', fm: 'avif', widths: widths }) %>
    <%= source_tag('3530-landscape.jpg', media: '(orientation: landscape)',sizes: '100vw', type: 'image/webp', imgix_options: { auto: 'compress', fm: 'webp', widths: widths }) %>
    <%= source_tag('3530-landscape.jpg', media: '(orientation: landscape)',sizes: '100vw', type: 'image/jpg', imgix_options: { auto: 'compress', fm: 'jpg', widths: widths }) %>
    <%= source_tag('3530-portrait.jpg', media: '(orientation: portrait)', sizes: '100vw', type: 'image/avif', imgix_options: { auto: 'compress', fm: 'avif', widths: widths }) %>
    <%= source_tag('3530-portrait.jpg', media: '(orientation: portrait)',sizes: '100vw', type: 'image/webp', imgix_options: { auto: 'compress', fm: 'webp', widths: widths }) %>
    <%= source_tag('3530-portrait.jpg', media: '(orientation: portrait)',sizes: '100vw', type: 'image/jpg', imgix_options: { auto: 'compress', fm: 'jpg', widths: widths }) %>
    <img alt="Comet NEOWISE over the Teton range in Grand Teton National Park." loading="eager" decoding="async" class="intro__photo" >
  </picture>
</section>
