---
title: Guillermo Esteves
description: Guillermo Esteves is a full-stack engineer based in Jackson Hole, Wyoming.
canonical_url: https://www.gesteves.com
---

<section class="section">
  <%= partial 'partials/intro' %>
</section>

<% if data.contributions.present? %>
  <%= partial 'partials/activity' %>
<% end %>

<% if data.github.present? %>
  <%= partial 'partials/repos' %>
<% end %>

<% if data.writing.present? %>
  <%= partial 'partials/writing' %>
<% end %>

<% if data.podcasts.present? %>
  <%= partial 'partials/podcasts' %>
<% end %>

<% if data.denali.present? %>
  <%= partial 'partials/photographs' %>
<% end %>

<% if data.goodreads.present? %>
  <%= partial 'partials/reading' %>
<% end %>

<% if data.spotify.present? %>
  <%= partial 'partials/listening' %>
<% end %>

<% if data.untappd.present? %>
  <%= partial 'partials/drinking' %>
<% end %>

<section class="section">
  <h2>Elsewhere</h2>
  <%= partial 'partials/elsewhere' %>
</section>
