---
layout: 'home'
---

<main class="intro" id="main-content">
  <header class="intro__text">
    <p class="intro__howdy"><%= data.home.eyebrow %></p>
    <h1 class="intro__hed"><%= data.home.heading %></h1>
    <% if data.home.linkText.present? && data.home.entry_type == "Link" %>
      <p class="intro__more"><%= link_to data.home.linkText, data.home.linkUrl %></p>
    <% end %>
  </header>


  <picture>
    <% if data.home.lightImageLandscape.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.lightImageLandscape.url, media: "(orientation: landscape) and (prefers-color-scheme: light)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.lightImagePortrait.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.lightImagePortrait.url, media: "(orientation: portrait) and (prefers-color-scheme: light)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.darkImageLandscape.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.darkImageLandscape.url, media: "(orientation: landscape) and (prefers-color-scheme: dark)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.darkImagePortrait.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.darkImagePortrait.url, media: "(orientation: portrait) and (prefers-color-scheme: dark)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <img alt="<%= data.home.altText %>" loading="eager" decoding="async" class="intro__photo" >
  </picture>
</main>
