---
title: Guillermo Esteves
description: Guillermo Esteves is an engineering manager based in Jackson Hole, Wyoming.
layout: 'home'
sitemap_priority: 1.0
sitemap_changefreq: daily
---

<%= partial 'partials/header' %>

<section class="section" aria-labelledby="intro">
  <h2 class="sr-only" id="intro">Introduction</h2>

  <%= responsive_image_tag(
      image_path("https://www.gravatar.com/avatar/#{gravatar_hash(config[:gravatar_email])}?s=2048"),
      widths: [75, 150, 225, 300, 450],
      sizes: '(min-width: 1024px) 150px, 75px',
      class: 'avatar',
      alt: 'Guillermo Esteves’s profile photo.',
      loading: 'eager',
      square: true) %>

  <%= partial 'partials/intro' %>
</section>

<% if data.repos.present? %>
  <%= partial 'partials/repos' %>
<% end %>

<% if data.writing.present? %>
  <%= partial 'partials/writing' %>
<% end %>

<% if data.podcasts.present? %>
  <%= partial 'partials/podcasts' %>
<% end %>

<% if data.photographs.present? %>
  <%= partial 'partials/photographs' %>
<% end %>

<section class="section" aria-labelledby="elsewhere">
  <h2 id="elsewhere">Elsewhere</h2>
  <%= partial 'partials/elsewhere' %>
</section>
