---
layout: 'home'
---

<main class="intro" id="main-content">
  <header class="intro__text">
    <p class="intro__howdy"><%= smartypants(data.home.eyebrow) %></p>
    <h1 class="intro__hed"><%= smartypants(data.home.heading) %></h1>
    <% if data.home.linkText.present? && data.home.linkUrl.present? %>
      <p class="intro__more"><%= link_to smartypants(data.home.linkText), data.home.linkUrl %></p>
    <% end %>
    <ul class="intro__links">
      <% if data.author.bluesky.present? %>
        <li>
          <a href="<%= data.author.bluesky %>" rel="me noopener" target="_blank">
            <%= partial "partials/icons/bluesky.svg" %>
          </a>
        </li>
      <% end %>
      <% if data.author.github.present? %>
        <li>
          <a href="<%= data.author.github %>" rel="me noopener" target="_blank">
            <%= partial "partials/icons/github.svg" %>
          </a>
        </li>
      <% end %>
      <% if data.author.linkedin.present? %>
        <li>
          <a href="<%= data.author.linkedin %>" rel="me noopener" target="_blank">
            <%= partial "partials/icons/linkedin.svg" %>
          </a>
        </li>
      <% end %>
      <% if data.author.mastodon.present? %>
        <li>
          <a href="<%= data.author.mastodon %>" rel="me noopener" target="_blank">
            <%= partial "partials/icons/mastodon.svg" %>
          </a>
        </li>
      <% end %>
    </ul>
  </header>


  <picture>
    <% if data.home.lightImageLandscape.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.lightImageLandscape.url, media: "(orientation: landscape) and (prefers-color-scheme: light)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.lightImagePortrait.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.lightImagePortrait.url, media: "(orientation: portrait) and (prefers-color-scheme: light)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.darkImageLandscape.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.darkImageLandscape.url, media: "(orientation: landscape) and (prefers-color-scheme: dark)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <% if data.home.darkImagePortrait.present? %>
      <% data.srcsets.cover.formats.each do |format| %>
        <%= source_tag(data.home.darkImagePortrait.url, media: "(orientation: portrait) and (prefers-color-scheme: dark)", sizes: data.srcsets.cover.sizes.join(', '), type: "image/#{format}", format: format, widths: data.srcsets.cover.widths) %>
      <% end %>
    <% end %>
    <img alt="<%= data.home.altText %>" loading="eager" decoding="async" class="intro__photo" >
  </picture>
</main>
