---
title: Guillermo Esteves
description: Guillermo Esteves is a full-stack engineer based in Jackson Hole, Wyoming.
canonical_url: https://www.gesteves.com
---

<%= gravatar_image_tag(config[:gravatar_email]) %>

<h1><%= current_page.data.title %></h1>

<%= partial 'partials/intro' %>

<% if data.writing.present? %>
  <h2>Writing</h2>
  <ol>
    <% data.writing.links.reverse.each do |link| %>
      <li>
        <h3><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.podcasts.present? %>
  <h2>Podcasts</h2>
  <ol>
    <% data.podcasts.links.reverse.each do |link| %>
      <li>
        <h3><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.repos.present? %>
  <h2>Code</h2>
  <ol>
    <% data.repos.links.each do |link| %>
      <li>
        <h3><%= link_to link.name, "https://github.com/#{link.name}" %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.denali.data.present? %>
  <h2>Recent photographs</h2>
  <ol class="denali">
    <% data.denali.data[0, ENV['DENALI_COUNT'].to_i || 12].each do |entry| %>
      <li>
        <a href="<%= entry.links.self %>">
          <%= denali_image_tag entry.relationships.photos.data.first %>
        </a>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.goodreads.present? %>
  <h2>Reading</h2>
  <ol>
    <% data.goodreads.each do |book| %>
      <li>
        <a href="<%= book.url %>"><%= book.title %></a>, by <%= book.author %>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.spotify.present? %>
  <h2>Listening</h2>
  <ol>
    <% data.spotify.each do |album| %>
      <li>
        <a href="<%= album.url %>"><%= album.name %></a>, by <%= album.artists.join(', ') %>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.untappd.present? %>
  <h2>Responsibly drinking</h2>
  <ol>
    <% data.untappd.each do |c| %>
      <li>
        <a href="https://untappd.com/beer/<%= c.beer.bid %>"><%= c.beer.beer_name %></a>, by <%= c.brewery.brewery_name %>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.elsewhere.present? %>
  <h2>Elsewhere</h2>
  <ol>
    <% data.elsewhere.links.each do |link| %>
      <li>
        <%= link.description %> <%= link_to link.title, link.url, rel: 'me' %>
      </li>
    <% end %>
  </ol>
<% end %>
