---
title: Guillermo Esteves
description: Guillermo Esteves is a full-stack engineer based in Jackson Hole, Wyoming.
canonical_url: https://www.gesteves.com
---

<%= gravatar_image_tag(config[:gravatar_email]) %>

<h1><%= current_page.data.title %></h1>

<%= partial 'partials/intro' %>

<% if data.writing.present? %>
  <h2>Writing</h2>
  <ol>
    <% data.writing.links.reverse.each do |link| %>
      <li>
        <h3><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.podcasts.present? %>
  <h2>Podcasts</h2>
  <ol>
    <% data.podcasts.links.reverse.each do |link| %>
      <li>
        <h3><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.repos.present? %>
  <h2>Code</h2>
  <ol>
    <% data.repos.links.each do |link| %>
      <li>
        <h3><%= link_to link.name, "https://github.com/#{link.name}" %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.denali.present? %>
  <h2>Recent photographs</h2>
  <ol class="denali">
    <% data.denali.each do |entry| %>
      <li>
        <a href="<%= entry.url %>">
          <%= denali_image_tag entry.id, entry.caption %>
        </a>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.goodreads.present? %>
  <h2>Reading</h2>
  <ol>
    <% data.goodreads.each do |book| %>
      <li>
        <h3><a href="<%= book.url %>"><%= book.title %></a></h3>
        <p>by <%= book.author %> &bull; <%= book.published %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.spotify.present? %>
  <h2>Listening</h2>
  <ol>
    <% data.spotify.each do |album| %>
      <li>
        <h3><%= link_to album.name, album.url %><h3>
        <p>by <%= album.artists.map { |a| link_to a.name, a.url }.join(', ') %> &bull; <%= album.release_date.split('-').first %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.untappd.present? %>
  <h2>Responsibly drinking</h2>
  <ol>
    <% data.untappd.each do |beer| %>
      <li>
        <h3><%= link_to beer.beer_name, beer.beer_url %></h3>
        <p><%= beer.beer_style %>, by <%= link_to beer.brewery_name, beer.brewery_url %></p>
      </li>
    <% end %>
  </ol>
<% end %>

<% if data.elsewhere.present? %>
  <h2>Elsewhere</h2>
  <ol>
    <% data.elsewhere.links.each do |link| %>
      <li>
        <%= link.description %> <%= link_to link.title, link.url, rel: 'me' %>
      </li>
    <% end %>
  </ol>
<% end %>
